.ipynb_checkpoints/
.DS_Store
__pycache__/
data/*
XML_data/*
nlp_results/*
stanford-corenlp-4.5.5/*
plots/*
generated/annotations_2013/tokens.parquet
generated/annotations_2013/dependencies.parquet
!.gitkeep
*.tar.gz
